@font-face {
  font-family: unbound;
  src: url("../fonts/Unbounded-VariableFont_wght.ttf");
}

@font-face {
  font-family: notosans;
  src: url("../fonts/NotoSansSymbols2-Regular.ttf");
}

body {
  font-family: unbound, notosans;
  background-color: lightblue;
  text-align: center;
}

header h1 {
  font-family: unbound, cursive;
  font-size: 3em;
}

header h2 {
  font-family: notosans, sans-serif;
  font-size: 1.5em;
}

section h3 {
  font-family: notosans, sans-serif;
  font-size: 2em;
  font-style: italic;
}

section p {
  font-family: unbound, cursive;
  font-size: 1.5em;
  font-weight: bold;
}

footer {
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
